<!-- Include header -->
<%- include('partials/header') -%>

<!-- Bills -->
<div class="d-sm-flex justify-content-between align-items-center ml-4">
  <h3 class="text-dark mb-4" style="font-family: Roboto, sans-serif; margin-left: 22px; margin-top: 20px; font-weight: bold;">
    TEAM
  </h3>
</div>

<div class="container-fluid">
  <%- include('partials/messages') -%> 

  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-column align-items-left ml-4">
        <h3 class="text-dark" style="font-family: Roboto, sans-serif; font-size: 18px; font-weight: bold;">
          Filter the user by its Gender:
        </h3>
        
        <!-- Gender filter checklist -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="maleCheck" value="male">
          <label class="form-check-label" for="maleCheck">
            Male
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="femaleCheck" value="female">
          <label class="form-check-label" for="femaleCheck">
            Female
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="allCheck" value="all" checked>
          <label class="form-check-label" for="allCheck">
            All
          </label>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="d-flex flex-column align-items-right">
        <h3 class="text-dark mb-4" style="font-family: Roboto, sans-serif; font-size: 18px; font-weight: bold;">
          Sort the user by Name:
        </h3>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort Order
          </button>
          <div class="dropdown-menu" aria-labelledby="sortDropdown">
            <a class="dropdown-item" href="#" onclick="sortUsers('asc')">A-Z</a>
            <a class="dropdown-item" href="#" onclick="sortUsers('desc')">Z-A</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="card-body">
    <h3 class="text-dark mb-4" style="font-family: Roboto, sans-serif; font-size: 18px; font-weight: bold;">
      Employee Information
    </h3>
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">   
      <% if(users != '') { %>
        <table class="table dataTable my-0" id="dataTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Employee ID</th>
              <th>Gender</th>
              <th>Date of Birth</th>
              <th>Designation</th>
              <th>Department</th>
              <th>Appointment Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user, index) => { %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.employeeid %></td>
                <td><%= user.gender %></td>
                <td><%= user.dob %></td>
                <td><%= user.designation %></td>
                <td><%= user.department %></td>
                <td><%= user.appointmentdate %></td>
                <td> 
                  <!-- <a href="/update_user?id=<%= user._id %>"><i class="fas fa-edit"></i></a> -->
                  <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userEdit<%= index %>" style=" width: 24px; height: 24px; font-size: 11px; padding-right: 18px;"><i class="fas fa-edit" style="font-size: 12px"></i></a>

                  <!-- Edit Models Begins -->
                  <div class="modal fade" id="userEdit<%= index %>" tabindex="-1" aria-labelledby="add Stipend modal" aria-hidden="true">
                    <div class="modal-dialog d-flex justify-content-center">
                        <div class="modal-content w-75" style="border-radius: 15px;">
                            <div class="modal-header">
                                <img src="img\Logo.png" style="width: 90px;height: 80px; margin-left: 120px; margin-top: 20px;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body p-4">
                              <form method="POST" action="/update_user/<%= user._id %>" style="background-color: rgb(255, 255, 255); border-radius: 15px">

                                <!-- Name -->
                                <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" value="<%= user.name %>" name="name" placeholder="Your Name" required />
                                  <div class="error-message" id="name-error" style="color: red;"></div>
                                </div>
                              
                                <!-- Gender -->
                                <div class="form-group">
                                  <label for="gender">Gender</label><br>
                                  <select type="text" class="form-control" id="gender" name="gender" required>
                                    <option value="">Select Gender</option>
                                    <option value="Male" <%= (user.gender === 'Male') ? 'selected' : '' %>>Male</option>
                                    <option value="Female" <%= (user.gender === 'Female') ? 'selected' : '' %>>Female</option>
                                  </select>
                                  <div class="error-message" id="gender-error" style="color: red;"></div>
                                </div>
                              
                                <!-- Date of Birth -->
                                <div class="form-group">
                                  <label for="dob">Date of Birth</label>
                                  <input type="date" class="form-control" id="dob" value="<%= user.dob %>" name="dob" required/>
                                  <div class="error-message" id="dob-error" style="color: red;"></div>
                                </div>
                            
                                <!-- Designation -->
                                <div class="form-group">
                                  <label for="designation">Designation</label>
                                  <input type="text" class="form-control" id="designation" value="<%= user.designation %>" name="designation" required/>
                                  <div class="error-message" id="designation-error" style="color: red;"></div>
                                </div>
                            
                                <!-- Contact -->
                                <div class="form-group">
                                  <label for="department">Department</label>
                                  <input type="text" class="form-control" id="department" value="<%= user.department %>" name="department" required/>
                                  <div class="error-message" id="department-error" style="color: red;"></div>
                                </div>
                            
                                <!-- Appointment Date -->
                                <div class="form-group">
                                  <label for="appointmentdate">Date of Appointment</label>
                                  <input type="date" class="form-control" id="appointmentdate" value="<%= user.appointmentdate %>" name="appointmentdate" required/>
                                  <div class="error-message" id="appointment-error" style="color: red;"></div>
                                </div>
                            
                                <!-- other form fields -->
                                <input type="hidden" id="user_id" name="user_id" value="">
                            
                                <div class="form-group">
                                  <button class="btn btn-primary btn-block" type="submit"
                                    style="background-color: rgb(50, 185, 255);
                                      font-family: Roboto, sans-serif;
                                      border-radius: 10px;
                                      font-weight: semi-bold;">
                                    Update
                                  </button>
                            
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- Edit Models Ends -->

                  <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletebills<%= index %>"
                    style=" width: 24px; height: 24px; font-size: 11px; padding-right: 17px; padding-top: 6px;">
                    <i class="fas fa-trash-alt"></i>
                  </a>

                  <!-- Delete Model Begins -->
                  <div class="modal fade" id="deletebills<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content" style="border-radius: 15px; margin-top: 190px">
                        <div class="modal-header">
                          <i class="fas fa-trash-alt" style=" color: #000000; font-size: 60px; margin-left: 205px; margin-top: 20px;"></i>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body" style="color: #000000; font-family: Roboto, sans-serif; font-size: 8px; text-align: center;">
                          <h4 style="font-family: Roboto, sans-serif">
                            Are you sure you want to delete this Bill?
                            This process cannot be UNDONE.
                          </h4>
                          <form action="/delete/<%=user._id%>" method="POST">
                            <div style="display: flex; justify-content: center; ">
                              <button type="submit" class="btn btn-secondary" style="background-color: #cc1818; margin-right: 15px;">Delete</button>
                              <button type="button" data-dismiss="modal" class="btn btn-primary" style="background-color: #32b9ff;">Cancel</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Model Ends -->

                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        
      <% } else { %>
        <h3 class="text-dark mb-4 align-items-center" style="font-family: Roboto, sans-serif; font-size: 18px; font-weight: bold;">
          No user found in the database!
        </h3>
      <% } %>
    </div>
  </div>
</div>

<!-- Include footer -->
<%- include('partials/footer') -%>

